<!DOCTYPE html>
<html lang="cs">
<head>
    <!-- meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="Webové stránky skautských oddílů.">
    <meta name="keywords" content="oddíly, skauting, skautské oddíly">
    <meta name="author" content="Petr Chatrný, Lucie Pacáková, Simona Voráčková, Lucie Suchánková">
    <meta name="robots" content="index,follow">

    <!-- open graph protocol -->
    <meta property="og:site_name" content="Oddíly"/>
    <meta property="og:title" content="Skautské oddíly"/>
    <meta property="og:description" content="Webové stránky pro skautské oddíly"/>
    <meta property="og:image" content="{{ url_for('img', filename='og.jpg', _external=True) }}">
    <meta property="og:url" content="{{ url_for('web.index') }}">
    <meta property="og:type" content="website"/>

    <!-- twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="Skautské oddíly">
    <meta property="twitter:description" content="Webové stránky pro skautské oddíly">
    <meta property=" twitter:image" content="{{ url_for('img', filename='og.jpg', _external=True) }}">

    <!-- browser tab info -->
    <link rel="icon" href="{{ url_for('img', filename='favicon.ico') }}">
    <title>Skautské oddíly</title>

    <!-- static -->
    <link rel="stylesheet" href="{{ url_for('css', filename='main.css') }}">
    {% block imports %}{% endblock %}

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <!-- icons -->
    <script src="https://kit.fontawesome.com/ff19d975f3.js" crossorigin="anonymous"></script>
</head>
<body>
{% include "views/__header.jinja" %}
{% block main %}{% endblock %}
{% include "views/__footer.jinja" %}

<script src="{{ url_for('js', filename='main.js') }}"></script>
</body>
</html>